.calculate {
   display: flex;
   flex-direction: column;
   padding: 44px 21px;

   @include media(768) {
      padding: 64px 36px;
   }

   @include media(1120) {
      padding: 216px 47px;
   }

   & h1 {
      margin-bottom: 34px;

      @include media(768) {
         margin-bottom: 44px;
      }

      @include media(1440) {
         margin-bottom: 32px;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 7px;
      margin-bottom: 7px;

      @include media(768) {
         gap: 21px;
         margin-bottom: 26px;

      }

      @include media(1120) {
         gap: 32px;
         flex-direction: row;
         margin-bottom: 35px;
      }
   }

   &__item-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;

      & .wrapper-range {
         align-self: center;
      }
   }

}