.input-primary {
   display: flex;
   flex-direction: column;
   gap: 10px;

   @include media(768) {
      gap: 28px;
   }

   &__text-label {
      font-size: var(--typography-text-label);
      color: $secondaryColor;
   }

   &__primary-input {
      position: relative;
      width: 100%;
      padding: 16px 18px 16px;
      color: $inputColor;
      font-weight: 900;
      font-size: var(--typography-primary-button);
      background: $grayBackgroundLight;
      border: $borderActiveInput;
      border-radius: $borderRadiusBtn;
      cursor: pointer;
      transition: $standartTrans;

      @include media(768) {
         padding: 15px 23px 13px;
      }

      &:active,
      &:focus {
         color: $secondaryColor;
         background: $whiteColor;
      }

      &:disabled {
         opacity: 0.5;
      }
   }
}

.inner-input {
   position: relative;

   &__percent {
      position: absolute;
      top: 7px;
      right: 10px;
      background: $rangerBg;
      border-radius: 16px;
      padding: 14px 14px;
      color: $inputColor;
      font-weight: 900;
      font-family: $secondaryFontFamily;
      color: $secondaryColor;
      font-size: 20px;

      @include media(768) {
         padding: 17px 14px;
      }
   }

   &__price::after {
      position: absolute;
      content: '₽';
      right: 19px;
      top: 17px;
      color: $inputColor;
      font-weight: 900;
      font-family: $secondaryFontFamily;
      color: $secondaryColor;
      font-size: var(--typography-primary-button);

      @include media(768) {
         right: 24px;
      }
   }

   &__mounth::after {
      position: absolute;
      content: 'мес.';
      right: 19px;
      top: 20px;
      color: $inputColor;
      font-weight: 900;
      font-family: $secondaryFontFamily;
      color: $secondaryColor;
      font-size: var(--typography-primary-button);

      @include media(768) {
         right: 24px;
      }
   }

   &__starting::after {
      position: absolute;
      content: '';
      right: 25px;
      top: 20px;
      color: $inputColor;
      font-weight: 900;
      font-family: $secondaryFontFamily;
      color: $secondaryColor;
      font-size: var(--typography-primary-button);
   }
}


.wrapper-range {
   width: 90%;
   position: relative;
   top: -14px;
   z-index: 5;

   &__range {
      appearance: none;
      width: 100%;
      height: 2px;
      background-color: $rangerBg;
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin: 12px 0px 5px 0px;
      cursor: pointer;

      &:hover {
         opacity: 1;
      }

      &::-webkit-slider-thumb {
         appearance: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         background: $orangeColor;
      }

      &::-moz-range-thumb {
         appearance: none;
         width: 20px;
         height: 20px;
         border-radius: 100%;
         background: $orangeColor;
         border: 0;
      }
   }

   &__progress {
      position: absolute;
      content: '';
      width: 50%;
      height: 2px;
      background-color: $orangeColor;
      top: calc(50% + 1.5px);
      z-index: 1;
   }
}